PROJECT_ID=
REGION=us-central1
ENDPOINT_RESOURCE_NAME=
DEPLOYED_INDEX_ID=
BUCKET_NAME=
MODEL_NAME=Alibaba-NLP/gte-modernbert-base
PLAN_SUMMARY_PREFIX=gte-modernbert-processed-plans/plan_summary
DEFAULT_TARGET_K=20
DEFAULT_PER_LEVEL_TOP_K=50
DEFAULT_TOP_N=5