# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Input / output folders
inputs/
outputs/

# Jupyter
.ipynb_checkpoints/

# Environment
.env
venv/
.venv/

# VSCode
.vscode/

# OS files
.DS_Store
Thumbs.db